

$primary-color: #691c8d;

$secondary-color: #181818;

$muted-color:  #252525;

$dark-text: #0c0c0c;

$background-color: #14141a;

$panel-color: #ffffff;

$boxshadow: 0px 4px 4px rgba(0, 0, 0, 0.25);







